<div class="AppName">
    <h2>Todos App</h2>
    <h3>By Noam Ben Ari</h3>
    <h3>{{currentDay |date:'dd/MM/yyyy'}}</h3>
</div>
<div class="Actions">
    <button class="Action" (click)="createNewList()">Create New List</button>
    <button class="Action" (click)="viewAllLists()">View All Lists</button>
    <button class="Action" (click)="viewAllItems()">View All Items</button>
</div>
<div class="Counters">
    <!-- <div class="Counter">{{(totalTodoItems |async)}}</div>
    <div class="Counter">{{(totalUnCompleted |async)}}</div>
    <div class="Counter">{{(totalTodoItems |async)}}</div> -->
</div>

